PORT=8787
AUTH_SECRET=change_this_auth_secret
AUTH_TOKEN_TTL_MS=604800000
PASSWORD_MIN_LENGTH=8
VAPID_PUBLIC_KEY=your_public_key
VAPID_PRIVATE_KEY=your_private_key
VAPID_SUBJECT=mailto:you@example.com
SERVE_FRONTEND=true
# FRONTEND_DIST_DIR=../dist/my-secretary/browser
